# files & folders with string "_noGit"
*_noGit*

# Editor generated
*~
*.swp
*.swo
*.sw*
*.bak
*.tmp
*.orig

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
package-lock.json
